{% extends "base.html" %}
{% load static %}

{% block og_tags %}
	<meta property="og:type" content="website" />
	<meta property="og:url" content="https://www.infinitycaterers.com" />
	<meta property="og:title" content="Infinity Caterers" />
	<meta property="og:description" content="Full service event catering company serving Southeastern Pennsylvania and New Jersey" />
  <meta property="og:image" content="{% static 'img/infinity-og-img.png' %}" />
{% endblock og_tags %}

{% block content %}

<!-- ======= Hero No Slider Section ======= -->
<section id="hero-no-slider" class="d-flex justify-cntent-center align-items-center">
    <div class="container position-relative" data-aos="fade-up" data-aos-delay="100">
      <div class="row justify-content-center">
        <div class="col-xl-8">
          <h2>Welcome to <span style="color:#f3ce3c">Infinity Caterers</span></h2>
          <p>Where food is an art form and customer satisfaction is our creed</p>
          <a href="#services" class="btn-get-started scrollto">Learn More</a>
        </div>
      </div>
    </div>
  </section><!-- End Hero No Slider Sectio -->

  <main id="main">

    <!-- ======= Services Section ======= -->
    <section class="services">
      <div class="container">

        <div class="row">
          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up">
            <div class="icon-box icon-box-pink">
              <div class="icon"><img src="{% static 'img/home-wedding.jpg' %}" class="img-fluid"></div>
              <h4 class="title">Weddings</h4>
              <p class="description mb-2">It's all in the details! Our wedding specialist will help guide you every step of the way</p>
                  <a href="{% url 'menu_wedding' %}" class="btn btn-primary mb-2">Menus</a>
                  <!-- <a href="#" class="btn btn-primary mb-2">Photo Gallery</a> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="100">
            <div class="icon-box icon-box-cyan">
              <div class="icon"><img src="{% static 'img/home-mitzvah.jpg' %}" class="img-fluid"></div>
              <h4 class="title">Bar/Bat Mitzvahs</h4>
              <p class="description mb-2">Every Mitzvah is unique but with our experience we can make the planning easy!</p>
              <a href="{% url 'menu_mitzvah' %}" class="btn btn-primary mb-2">Menus</a>
              <!-- <a href="#" class="btn btn-primary mb-2">Photo Gallery</a> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-green">
              <div class="icon"><img src="{% static 'img/home-corp.jpg' %}" class="img-fluid"></div>
              <h4 class="title">Informal</h4>
              <p class="description mb-2">On premise or off-site, we are here to make every event spectacular</p>
              <a href="{% url 'menu_informal' %}" class="btn btn-primary mb-2">Menus</a>
              <!-- <a href="#" class="btn btn-primary mb-2">Photo Gallery</a> -->
            </div>
          </div>

          <div class="col-md-6 col-lg-3 d-flex align-items-stretch" data-aos="fade-up" data-aos-delay="200">
            <div class="icon-box icon-box-blue">
              <div class="icon"><img src="{% static 'img/home-private.jpg' %}" class="img-fluid"></div>
              <h4 class="title">Private Events</h4>
              <p class="description mb-2">From backyard BBQs to extravagant celebrations - Infinity has a menu for you!</p>
              <a href="{% url 'menu_private' %}" class="btn btn-primary mb-2">Menus</a>
              <!-- <a href="#" class="btn btn-primary mb-2">Photo Gallery</a> -->
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Services Section -->

    <!-- ======= Why Us Section ======= -->
    <section class="why-us section-bg" data-aos="fade-up" date-aos-delay="200">
      <div class="container">

        <div class="row">
          <div class="col-lg-6 video-box">
            <img src="{% static 'img/team_photo.jpg' %}" class="img-fluid" alt="">
            <!-- <a href="https://www.youtube.com/watch?v=jDDaplaOz7Q" class="venobox play-btn mb-4" data-vbtype="video" data-autoplay="true"></a> -->
          </div>

          <div class="col-lg-6 d-flex flex-column justify-content-center p-5">

            <div class="icon-box">
              <div class="icon"><i class="bx bx-fingerprint"></i></div>
              <h4 class="title"><a href="">Customer Service</a></h4>
              <p class="description">Infinity Caterers was built on a foundation of customer service. Our clients are always our top priority!</p>
            </div>

            <div class="icon-box">
              <div class="icon"><i class="bx bx-gift"></i></div>
              <h4 class="title"><a href="">Quality</a></h4>
              <p class="description">Quality is not something we will ever sacrifice. You can rest assured knowing that we only use the highest quality ingredients and freshest produce</p>
            </div>

          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section class="features" id="services">
      <div class="container">

        <div class="section-title">
          <h2>Services</h2>
          <p>Infinity Caterers is a full service event catering company serving Southeastern PA and New Jersey. We take pride in our commitment to excellence, quality, and most importantly, customer service!</p>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'img/services/menu_planning.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-4">
            <h3>Menu Planning</h3>
            <p class="font-italic">
                Infinity Caterers can personalize a detailed menu to fit any vision and budget. We’ll work directly with you to choose all the right food and orchestrate a service to make your event special!
            </p>
            <p>
            First we’ll meet in person to discuss your event, review pictures and ideas for the food.  We’ll then work out a menu that satisfies your expectations within a budget that you’ll be comfortable with. There’s hundreds of food options to choose from and we can create any favorites you have in mind.
            </p>

          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'img/services/event_staffing.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Event Staffing</h3>
            <p class="font-italic">
                Infinity Caterers offers full service staffing for any type of event. Our trained staff are professionally dressed in all black attire and serve your guests with a smile and friendly manner.
            </p>
            <p>
                Our head chefs, sous chefs, and even Sushi chefs are experts at crafting exquisite and delicious cuisine that will delight your guests and leave them happy and satiated.  We have event supervisors who’ll make sure your occasion goes off without a hitch.  Finally, our wait staff and bartenders will be sure to cater to all of your guest’s food and beverage desires.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5">
            <img src="{% static 'img/services/room_setup.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5">
            <h3>Room Design & Layout</h3>
            <p>Infinity Caterers will diagram a floor plan and lay out for your event.  We’ll then execute it to perfection!</p>
            <p>We’ll visit your chosen venue to complete a full walk thru and strategize how to utilize the space to its fullest potential.  Based on the visit, we’ll create a floor plan diagram to determine the appropriate layout for your event’s specific theme and action.  We’ll then work with you to finalize all the necessary details and work out the logistics for bringing your vision to life.
            </p>
          </div>
        </div>

        <div class="row" data-aos="fade-up">
          <div class="col-md-5 order-1 order-md-2">
            <img src="{% static 'img/services/furniture_rental.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-md-7 pt-5 order-2 order-md-1">
            <h3>Full Service Party Rentals</h3>
            <p class="font-italic">
                Infinity Caterers can assist will all rental equipment necessary to realize your event vision. Let us do all the legwork!
            </p>
            <p>
                We’ll source and order all rentals including china, silverware, glassware, ovens, warming cabinet, tables, chairs, linens, and more.  
                Let our decades of experience planning and sourcing anything an event may require.  We can bring any idea you may have to life and make your occasion super special.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
    <!-- ======= Tetstimonials Section ======= -->
    <section class="testimonials section-bg parallax" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Testimonials</h2>
        </div>

        <div class="owl-carousel testimonials-carousel">

          <div class="testimonial-item">
            <h3>Toby Grosswald</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Infinity Caterers helps you create the best menu to meet your needs and delivers it with class, ease and no surprises.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Brooke and Danielle McKean</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              We just had our Wedding catered by infinity Caterers last night and they were amazing! Everyone had a great time and the food was perfection.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Hillary Israeli, VMD</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              You outdid yourself! When I saw the oneg room set up I was pretty taken back, it surpassed my expectations! Everything tasted great and it was a wonderful time.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Stef, Darren, Hannah and Chloe McCarthy</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Wow! Just Wow!! You are accommodating and such a pleasure to work with. The food was outstanding! Like amazing! I received so many compliments about the food and the service. Everything was incredible.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>

          <div class="testimonial-item">
            <h3>Sharon &amp; Rob Fuerman</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              Just wanted to thank you for a fabulous party, everyone raved about the food and the set up and the servers were wonderful
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
          <div class="testimonial-item">
            <h3>Jennifer Tanner</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I heard numerous positive comments from our guests regarding sandwich selection, complimentary side dishes and delectable desserts. I truly appreciate working directly with you and cannot thank you enough for your timely response to all our needs. You went above and beyond flawlessly executing.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
                    <div class="testimonial-item">
            <h3>Andrea and Adam Denish</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I wanted to let you know how absolutely thrilled we are that we hired you. Many of our guests were party hopping and they tended to stay at our house and linger because everything was just so good. The staff were all extremely professional and polite – they hardly let me lift a finger.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
                    <div class="testimonial-item">
            <h3>Ken Alan</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              The work performed at both events was the best that catering can be. The fresh, delicious, and plentiful foods and ongoing refreshing libations, the stellar service and spectacular decorations all combined outstandingly!
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
                    <div class="testimonial-item">
            <h3>Jill &amp; Marc Altshuler</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              I can’t thank you enough for helping to make Ally’s Bat Mitzvah celebration as wonderful as it really was! Everything was amazing – the staff, the food, the set up, and most importantly, the customer service. Made the whole experience as low-stress as possible.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
                    <div class="testimonial-item">
            <h3>Jane &amp; Iilan Rosenberg</h3>
            <p>
              <i class="bx bxs-quote-alt-left quote-icon-left"></i>
              It was an absolutely magical weekend! The food and service were excellent and creatively displayed.
              <i class="bx bxs-quote-alt-right quote-icon-right"></i>
            </p>
          </div>
        </div>

      </div>
    </section><!-- End Ttstimonials Section -->
  </main><!-- End #main -->

  
{% endblock content %}

{% block footscript %}
<script>
  window.onscroll = function() {scrollFunction()};

  function scrollFunction() {
    if (document.body.scrollTop > 50 || document.documentElement.scrollTop > 50) {
      document.getElementById("nav-logo").style.maxHeight = "40px";
    } else {
      document.getElementById("nav-logo").style.maxHeight = "90px";
    }
  }
</script>
{% endblock footscript %}
