{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Platform 30 TEST TEST TEST</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'venues' %}">Venues</a></li>
            <li>Platform 30</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'img/venues/platform-30-main.jpg' %}" class="img-fluid" alt="Platform 30 street view">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Platform 30</h3>
            <p class="font-italic">
              Platform Thirty at Beat Street Station is located in the heart of Manayunk. A newly renovated historic building, with a brand new modern look. Once a train station hub, it is now a premiere event facility.
            </p>
            <p>
              Platform Thirty is a historic building, with modern touches throughout. Once a train station hub, it is now a premiere event facility. 
            </p>
            <p>
                With an expanded our dance floor, expansive bar, and strategic layout to maximize event flow, our venue has a chic-modern vibe while keeping the cozy intimate experience that has made us such a fan favorite. Contact us to take a tour and see for yourself what makes us unique.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Venue Details</h2>
        </div>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Capacity <i class="val">175</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Ceiling Height <i class="val">18ft</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Seperate Spaces <i class="val">4</i></span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Skills Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Address</h3>
                  <p>4401 Cresson St., Philadelphia, PA 19127</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-globe"></i>
                  <h3>Website</h3>
                  <p><a href="https://platformthirty.com" target="_blank">Visit Website</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call</h3>
                  <p>
                    <a href="tel:2155083000">215-508-3000</a></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 map">
            <div class="container-fluid p-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3055.1684978141357!2d-75.22735058455999!3d40.02701728717231!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6b8bffc99db47%3A0xb74307244a5aff9!2sPlatform%20Thirty%20at%20Beat%20Street%20Station!5e0!3m2!1sen!2sus!4v1598656215382!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Contact Section -->



<!-- ======= Portfolio Section ======= -->
<section class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Photo Gallery</h2>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-entrance.jpg' %}" class="img-fluid" alt="platform thirty entrance">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-entrance.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-cocktail-landing.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-cocktail-landing.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-cocktail-landing2.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-cocktail-landing2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-veggies.jpg' %}" class="img-fluid" alt="platform thirty grilled vegetables">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-veggies.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-butlered-app.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-butlered-app.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-bar-panoramic.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-bar-panoramic.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-bar.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-bar.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-cocktail-buffet.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-cocktail-buffet.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-reception-space.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-reception-space.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-reception-space2.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-reception-space2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    
      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-reception-space3.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-reception-space3.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
  

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-buffet.jpg' %}" class="img-fluid" alt="platform thirty food buffet">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-buffet.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-dessert.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-dessert.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-sorbet.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-sorbet.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/platform-thirty-party.jpg' %}" class="img-fluid" alt="">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/platform-thirty-party.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Platform Thirty"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
  </main><!-- End #main -->


{% endblock content %}