{% extends 'base.html' %}
{% load static %}
{% block content %}
  
<main id="main">

    <!-- ======= About Us Section ======= -->
    <section class="breadcrumbs">
      <div class="container">

        <div class="d-flex justify-content-between align-items-center">
          <h2>Society Hill Dance Academy</h2>
          <ol>
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'venues' %}">Venues</a></li>
            <li>Society Hill Dance Academy</li>
          </ol>
        </div>

      </div>
    </section><!-- End About Us Section -->

    <!-- ======= About Section ======= -->
    <section class="about" data-aos="fade-up">
      <div class="container">

        <div class="row">
          <div class="col-lg-6">
            <img src="{% static 'img/venues/society-hill-dance-main.jpg' %}" class="img-fluid" alt="society hill dance academy street view">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0">
            <h3>Society Hill Dance Academy</h3>
            <p class="font-italic">
              Set in the quaint and romantic surroundings of the historic Headhouse Square, Society Hill Dance Academy provides you with everything you need to make all your wedding dreams come true.
            </p>
            <p>
              This hidden gem of a venue is in the historic Headhouse Square of the Society Hill area of Philly. It is a certified historic Philadelphia building with loads of charm! Located at 2nd & Pine Streets, 
              this venue offers open light filled rooms and has a guest capacity of 150.
            </p>
          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Our Skills Section ======= -->
    <section class="skills section-bg" data-aos="fade-up">
      <div class="container">

        <div class="section-title">
          <h2>Venue Details</h2>
        </div>

        <div class="skills-content">

          <div class="progress">
            <div class="progress-bar bg-success" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Capacity <i class="val">150</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-info" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Ceiling Height <i class="val">12ft</i></span>
            </div>
          </div>

          <div class="progress">
            <div class="progress-bar bg-warning" role="progressbar" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">
              <span class="skill">Seperate Spaces <i class="val">5</i></span>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Our Skills Section -->

    <!-- ======= Contact Section ======= -->
    <section class="contact" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">
      <div class="container">

        <div class="row">

          <div class="col-lg-6">

            <div class="row">
              <div class="col-md-12">
                <div class="info-box">
                  <i class="bx bx-map"></i>
                  <h3>Address</h3>
                  <p>409 S. 2nd Street, Philadelphia, PA 19147</p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-globe"></i>
                  <h3>Website</h3>
                  <p><a href="https://societyhilldance.com/bachelorette-party-philadelphia-girls-night-out.php" target="_blank">Visit Website</a></p>
                </div>
              </div>
              <div class="col-md-6">
                <div class="info-box">
                  <i class="bx bx-phone-call"></i>
                  <h3>Call</h3>
                  <p>
                    <a href="tel:2155844678">215-584-4678</a></p>
                </div>
              </div>
            </div>

          </div>

          <div class="col-lg-6 map">
            <div class="container-fluid p-0">
              <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3058.9374769248916!2d-75.14716598461845!3d39.94278817942292!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c6c89a39c65c29%3A0x8117d6139e90cc24!2s409%20S%202nd%20St%2C%20Philadelphia%2C%20PA%2019147!5e0!3m2!1sen!2sus!4v1598464817381!5m2!1sen!2sus" frameborder="0" style="border:0;" allowfullscreen=""></iframe>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->



<!-- ======= Portfolio Section ======= -->
<section class="portfolio section-bg">
  <div class="container">
    <div class="section-title">
      <h2>Photo Gallery</h2>
    </div>

    <div class="row portfolio-container" data-aos="fade-up" data-aos-easing="ease-in-out" data-aos-duration="500">

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-main.jpg' %}" class="img-fluid" alt="society hill dance academy street view">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-main.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-exterior.jpg' %}" class="img-fluid" alt="society hill dance academy street view">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-exterior.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-interior-panoramic.jpg' %}" class="img-fluid" alt="society hill dance academy street view">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-interior-panoramic.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-interior-table-window-view.jpg' %}" class="img-fluid" alt="society hill dance academy interior table window view">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-interior-table-window-view.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-interior-table-window-view-2.jpg' %}" class="img-fluid" alt="society hill dance academy interior table window view">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-interior-table-window-view-2.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-food-presentation.jpg' %}" class="img-fluid" alt="society hill dance academy food presentation cocktail hour">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-food-presentation.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-buffet.jpg' %}" class="img-fluid" alt="society hill dance academy food buffet">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-buffet.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-passed-hors-doveures.jpg' %}" class="img-fluid" alt="society hill dance academy passed hors d'oveures">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-passed-hors-doveures.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-tortellini-buffet-station.jpg' %}" class="img-fluid" alt="society hill dance academy tortellini buffet station">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-tortellini-buffet-station.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-asparagus-hors-douerves.jpg' %}" class="img-fluid" alt="society hill dance academy asparagus hors d'oveures">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-asparagus-hors-douerves.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    
      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-cake-pops.jpg' %}" class="img-fluid" alt="society hill dance academy cake pop dessert">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-cake-pops.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>
  

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-food-buffet.jpg' %}" class="img-fluid" alt="society hill dance academy food buffet">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-food-buffet.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

      <div class="col-lg-4 col-md-6">
        <div class="portfolio-item">
          <img src="{% static 'img/venues/society-hill-dance-memory-table.jpg' %}" class="img-fluid" alt="society hill dance academy memory table decor">
          <div class="portfolio-info">
            <div>
              <a href="{% static 'img/venues/society-hill-dance-memory-table.jpg' %}" data-gall="portfolioGallery" class="venobox" title="Society Hill Dance Academy"><i class="bx bx-plus"></i></a>
            </div>
          </div>
        </div>
      </div>

    </div>

  </div>
</section><!-- End Portfolio Section -->
  </main><!-- End #main -->


{% endblock content %}